.DS_Store
.vagrant/
vagrant_ansible_inventory_default
*.cache
*.retry
test.sh

*/roles/geerlingguy.*
*/provisioning/roles/geerlingguy.*

.vaultpass
*.secret
.venv
.vscode
*.tmp
/.project
/.settings/
/*.iml
/.idea/
